{% extends "layoutAdmin.html" %}

{% block nav %}
    <a href="{{ url('admin') }}" class="list-group-item list-group-item-action text-light bg-dark">Dashboard</a>
    <a href="{{ url('gestionPosts') }}" class="list-group-item list-group-item-action text-light bg-dark">Gestion Articles</a>
    <a href="{{ url('gestionComments') }}" class="list-group-item list-group-item-action text-light bg-dark activAdmin">Gestion Comments</a>
    <a href="{{ url('gestionUsers') }}" class="list-group-item list-group-item-action text-light bg-dark">Gestion Users</a>
{% endblock %}

{% block content %}

Gestion comment


{% endblock %}